# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Entornos
.env
.env.*
ai.env

# Compilados de Angular
dist/
out-tsc/
.angular/

# Logs y SO
*.log
.DS_Store

# Archivos y carpetas de Claude
.claude/
CLAUDE.md