<div class="reveal-container">

  <canvas #matrixCanvas class="matrix-canvas"></canvas>

  <div class="vignette"></div>

  <div class="intro-center">
    <div class="title-wrapper">
      <div class="name-letters" #nameLetters>
        <div class="name-line">
          @for (char of nameLine1; track $index) {
            @if (char === ' ') {
              <span class="char-space">&nbsp;</span>
            } @else {
              <span class="char-wrapper">
                <span class="char-spacer" aria-hidden="true">{{ char }}</span>
                @for (clip of fragClips; track $index) {
                  <span class="frag-mover" aria-hidden="true">
                    <span class="frag-clip" [style.clipPath]="clip">{{ char }}</span>
                  </span>
                }
              </span>
            }
          }
          <span class="char-space name-sep">&nbsp;</span>
        </div>
        <div class="name-line">
          @for (char of nameLine2; track $index) {
            @if (char === ' ') {
              <span class="char-space">&nbsp;</span>
            } @else {
              <span class="char-wrapper">
                <span class="char-spacer" aria-hidden="true">{{ char }}</span>
                @for (clip of fragClips; track $index) {
                  <span class="frag-mover" aria-hidden="true">
                    <span class="frag-clip" [style.clipPath]="clip">{{ char }}</span>
                  </span>
                }
              </span>
            }
          }
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-arrow" aria-hidden="true">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5v14M5 13l7 7 7-7" stroke="currentColor" stroke-width="1.8"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

</div>