<div class="reveal-container">

  <div class="static-layers" #staticWrapperEl>
    <div class="letters-ambient" #ambientEl></div>
    <div class="letters-center-glow" #centerGlowEl></div>
  </div>

  <div class="letters-hover" #hoverEl></div>

  <div class="vignette"></div>

  <div class="intro-center">
    <div class="title-wrapper">
      <div class="name-letters" #nameLetters>
        @for (char of nameChars; track $index) {
          @if (char === ' ') {
            <span class="char-space">&nbsp;</span>
          } @else {
            <span class="char-wrapper">
              <span class="char-spacer" aria-hidden="true">{{ char }}</span>
              @for (clip of fragClips; track $index) {
                <span class="char-frag" [style.clipPath]="clip">{{ char }}</span>
              }
            </span>
          }
        }
      </div>
    </div>
  </div>

  <div class="scroll-arrow" aria-hidden="true">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5v14M5 13l7 7 7-7" stroke="currentColor" stroke-width="1.8"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

</div>